{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h2>Afficher sortie</h2>

    <div class="affichage_smartphone affichage_tablette">
        <div class="row justify-content-center">
            <div class="col" style="text-align: right">
                <p>
                    Nom : <br>
                    Date : <br>
                    Limite d'inscription : <br>
                    Nombre de participants : <br>
                    Durée : <br>
                    Infos : <br>
                    Campus : <br>
                    Lieu : <br>
                </p>
            </div>

            <div class="col">
                <p>
                    {{ sortie.nom }} <br>
                    {{ sortie.dateHeureDebut  |date('Y-m-d H:i:s') }} <br>
                    {{ sortie.dateLimiteInscription |date('Y-m-d H:i:s') }} <br>
                    {{ sortie.participantsInscrits|length }} / {{ sortie.nbInscriptionsMax }} <br>
                    {{ sortie.duree }} minutes <br>
                    {{ sortie.infosSortie }} <br>
                    {{ sortie.siteOrganisateur.nom }} <br>
                    {{ sortie.lieu.nom }} <br>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <h4>Participants</h4>
            {% for participant in participants %}
                <p>{{ participant.pseudo }} ({{ participant.nom }})</p>
                <br>
            {% endfor %}
            <a id="smartphone" href="{{ path('app_sortie_modifier',{'id':sortie.id}) }}">Modifier</a>
            </p>
        </div>
    </div>

    <div class="affichage_grand">
        <section id="tableau_details">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date et heure</th>
                    <th>Date limite d'inscription</th>
                    <th>Nombre de places</th>
                    <th>Durée</th>
                    <th>Description</th>
                    <th>Campus</th>
                    <th>Lieu</th>
                    <th>Rue</th>
                    <th>Code postal</th>
                </tr>
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut  |date('Y-m-d H:i:s') }}</td>
                    <td>{{ sortie.dateLimiteInscription |date('Y-m-d H:i:s') }}</td>
                    <td>{{ sortie.participantsInscrits|length }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.duree }}</td>
                    <td>{{ sortie.infosSortie }}</td>
                    <td>{{ sortie.siteOrganisateur.nom }}</td>
                    <td>{{ sortie.lieu.nom }}</td>
                    <td>{{ sortie.lieu.rue }}</td>
                    <td>{{ sortie.lieu.ville.codePostal }}</td>
                </tr>
                </tbody>
            </table>
        </section>

        <table class="table w-75 ">
            <tr class="table-warning">
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            {% if participants is empty %}
                <tr>
                    <td class="text-center ">Aucun participant pour l'instant</td>
                </tr>
            {% else %}
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.nom }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% if sortie.organisateur.id == app.user.id  and sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Créée' %}
            <a id="smartphone" href="{{ path('app_sortie_modifier',{'id':sortie.id}) }}">Modifier</a>
        {% endif %}
    </div>

{% endblock %}