{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid pt-3">
        <div class="row justify-content-center ">
            <h2>Ajouter une sortie</h2>
            {{ form_start(sortieForm,{'id': 'form'}) }}
            <div class="row justify-content-center">
                <div class="col-4">
                    {{ form_row(sortieForm.nom) }}
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                    {{ form_row(sortieForm.duree) }}
                    {{ form_row(sortieForm.infosSortie) }}
                </div>
                <div class="col-4">

                    {{ form_row(sortieForm.siteOrganisateur) }}
                    {{ form_row(sortieForm.ville, {'id': 'ville'}) }}

                    <div class="row ">
                        <div class="col">
                            {{ form_row(sortieForm.lieu, {'id': 'lieu'}) }}
                        </div>
                        <div class="col">
                            <button type="button" id="btnCreer">Nouveau Lieu</button>
                        </div>
                    </div>
                    <div id="lieu_info">
                        <p>Rue :</p>
                        <p>Ville :</p>
                        <p>Code Postal: </p>
                        <p>latitude:</p>
                        <p>Longitude: </p>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-1">{{ form_row(sortieForm.publier) }}</div>
                <div class="col-1">{{ form_row(sortieForm.enregistrer) }} <br></div>
                {{ form_end(sortieForm) }}


                    <div class="col-1"><a href="{{ path('app_main_index') }}">
                            <button type="button">Annuler</button>
                        </a></div>

            </div>

        </div>
    </div>
    {{ include('sortie/sortieJs.html.twig') }}

{% endblock %}