{% extends 'base.html.twig' %}

{% block title %}Supprimer Ville{% endblock %}

{% block body %}
<h2>Supprimer Ville</h2>
{% if ville.lieu is empty  %}
<p>Voulez-vous vraiment supprimer la ville: {{ ville.nom }}</p>
    <a href="{{ path('app_villes_suppression',{id:ville.id}) }}"><button>Supprimer</button></a>
{% else %}
<p>Vous ne pouvez pas supprimer la ville: {{ ville.nom }}</p>
    <p>Vous devez d'abord modifier les lieux</p>
    <table class="table">
        <tr>
            <th class="table-warning">Nom de la ville</th>
            <th class="table-warning">Action</th>
        </tr>
        {% for lieu in ville.lieu %}
        <tr>
            <td>{{ lieu.nom }}</td>
            <td><a href="">Modifier(lien a faire)</a></td>
        </tr>
        {% endfor %}
    </table>


{% endif %}
    <a href="{{ path('app_villes') }}">
        <button>Retour</button>
    </a>
{% endblock %}