{% extends 'base.html.twig' %}

{% block title %}Modifier Profile{% endblock %}

{% block body %}
    {% if app.user.id == participant.id or is_granted('ROLE_ADMIN') %}
    <div class="container">
        <h1>Modifier {{ participant.pseudo }}</h1>
        <div class="row justify-content-center">
            <div class="col">
                <img src="{{ asset('uploads/brochures/'~participant.brochureFilename) }}"
                     alt="Photo de profil de {{ participant.brochureFilename }}" width="150"></div>
            <div class="col">
                {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class = "btn btn-outline-info" href="{{ path('app_profile_index') }}">back to list</a>
    {% endif %}
    </div>
    {% else %}
    <h2>Vous n'avez rien à faire ici !</h2>
    {% endif %}
{% endblock %}
