{% extends 'base.html.twig' %}

{% block title %}Profils{% endblock %}

{% block body %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Roles</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Telephone</th>
            <th>Mail</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.mail }}</td>
                <td>
                    {{ participant.actif ? 'Yes' : 'No' }}
                    <br>

                </td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': participant.id}) }}">Voir</a>
                    <br>
                    <a href="{{ path('app_profile_edit', {'id' : participant.id}) }}">Editer</a>
                    <br>
                    <a href="{{ path('app_profile_delete', {'id': participant.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}">Create new</a>
{% endblock %}
