{% extends 'base.html.twig' %}

{% block title %}{{ participant.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>

    <table class="table">
        <tbody>
        {#            <tr> #}
        {#                <th>Pseudo</th> #}
        {#                <td>{{ participant.pseudo }}</td> #}
        {#            </tr> #}
        <tr>
            <th>Nom</th>
            <td>{{ participant.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ participant.prenom }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ participant.telephone }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ participant.mail }}</td>
        </tr>
        <tr>
            <th>Photo de profil</th>
            <td>
                <img src="{{ asset('uploads/brochures/'~participant.brochureFilename) }}" alt="" width="150">
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profile_index') }}">back to list</a>

    <a href="{{ path('app_profile_edit', {'id': participant.id}) }}">edit</a>

{% endblock %}
