{% extends 'base.html.twig' %}

{% block title %}Sortir.com Vert{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
    <div class="row justify-content-center">

    <h2>Bienvenue !</h2>
    {% if app.user %}

</div>

<div id="filtreAccueil">
            {{ form_start(filtreForm) }}

        <div class="row justify-content-around  ">
            <div class="col-4">
                {{ form_label(filtreForm.campus) }}
                {{ form_widget(filtreForm.campus) }}
                <br>
                {{ form_label(filtreForm.search) }}
                {{ form_widget(filtreForm.search) }}
                <br>
                <p>Entre
                {{ form_widget(filtreForm.dateDebut) }}
                et
                {{ form_widget(filtreForm.dateLimite) }}
                </p>
            </div>
            <div class="col-4">

                {{ form_widget(filtreForm.estOrganisateur) }}
                {{ form_label(filtreForm.estOrganisateur) }}
                <br>
                {{ form_widget(filtreForm.estInscrit) }}
                {{ form_label(filtreForm.estInscrit) }}
                <br>
                {{ form_widget(filtreForm.pasInscrit) }}
                {{ form_label(filtreForm.pasInscrit) }}
                <br>
                {{ form_widget(filtreForm.estPassees) }}
                {{ form_label(filtreForm.estPassees) }}
            </div>
            <div class="row">
                <div class="btn">{{ form_widget(filtreForm.rechercher,{ 'attr': {'class': 'btn btn-outline-info'}}) }}</div>
            </div>
            {{ form_end(filtreForm) }}
        </div>

        {% if sorties | length == 0 %}
            <h3 class="text-center mt-5">
                Aucun résultat trouvé !</h3>
        {% else %}
            {{ include('sortie/_sorties.html.twig') }}
        {% endif %}
        </div>
        </div>
        <div style="margin-bottom: 9em">
        <a class="btn btn-warning position-absolute  start-50 translate-middle mt-3" id="btn_new"
           href="{{ path('app_sortie_creer') }}" role="button">Nouvelle sortie</a>
        </div>
    {% else %}
        <p>Veuillez vous connecter pour voir la liste des sorties !</p>
    {% endif %}
{% endblock %}
