{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Bienvenue  !</h2>

                <section id="recherche-form"><div class="row">
                    <div class="col">

                        <label>Campus</label> <select id="campus_nom"></select> <br>
                        <label>Le nom de la sortie contient : </label><input type="search"> <br>
                        <label>Entre </label><input type="date"><label> et </label><input type="date"> <br> </div>
                        <div class="col">
                        <label><input type="checkbox">Sorties dont je suis l'organisateur</label><br>
                        <label> <input type="checkbox"> Sorties auquelles je suis inscrit </label><br>
                        <label><input type="checkbox">Sorties auquelles je ne suis pas inscrit </label><br>
                        <label> <input type="checkbox"> Sorties passées </label><br>
                        <div class="btn-container"><button>Rechercher</button>
                        </div>
                        </div></div>
                </section>
                <section id="tableau_sorties">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nom de la sortie</th>
                            <th>Date de la sortie</th>
                            <th>Clotûre</th>
                            <th>Nb d'inscrits</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Actions</th>
                        </tr>

                        {% for sortie in sorties %}
                        <tr>
                            <td> {{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut  |date('Y-m-d H:i:s')}}</td>
                            <td>{{ sortie.dateLimiteInscription |date('Y-m-d H:i:s')}}</td>
                            <td> {{ sortie.participantsInscrits|length }} / {{ sortie.nbInscriptionsMax }}</td>
                            <td> {{ sortie.etat.libelle }}</td>
                            <td>  {% if sortie.participantsInscrits == true%}
                                    <i class="fas fa-check-circle"></i>
                                    {% endif %}</td>
                            <td> {{ sortie.organisateur.pseudo }}</td>
                            <td><a href="{{ path('app_sortie',{id: sortie.id}) }}"  title="Détail sortie">Afficher</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </section>
            </div>
        </div>
        <a class="btn btn-warning " href="{{ path('app_sortie_creer') }}" role="button">Nouvelle sortie</a>

    </div>
{% endblock %}
