{% extends 'base.html.twig' %}

{% block title %}Sortir.com Vert{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
    <div class="row justify-content-center">

    <h2>Bienvenue !</h2>
    {% if app.user %}



        {#                   {% if app.user %}
  {#                  <form action="{{ path('app_search', {'id': app.user.id}) }}" method="post">
   {#                     {% else %}
    {#                    <form action="{{ path('app_search', {'id': 0}) }}" method="post">
     {#                       {% endif %}
     {#                       <div class="row">
{#            <div class="col">#}
{#                <label for="campus">Campus : </label>#}
{#                <select class="btn btn-warning" name="campus" id="campus">#}
{#                    <option value=""></option>#}
{#                    {% for campus in campusS %}#}
{#                        <option id="ville" name="campus"#}
{#                                value="{{ campus.id }}">#}
{#                            {{ campus.nom | upper }}#}
{#                        </option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <br>#}

{#                <label for="search">Le nom de la sortie contient : </label>#}
{#                <input type="search" name="search" id="search">#}
{#                <br>#}
{#                <label for="dateMin">Entre : </label>#}
{#                <input type="date" name="dateMin" id="dateMin">#}
{#                <label for="dateMax"> et </label>#}
{#                <input type="date" name="dateMax" id="dateMax">#}
{#                <br>#}
{#            </div>#}

{#            <div class="col">#}
{#                <label><input type="checkbox" name="est_organisateur">Sorties dont je suis l'organisateur</label><br>#}
{#                <label> <input type="checkbox" name="est_inscrit"> Sorties auquelles je suis inscrit </label><br>#}
{#                <label><input type="checkbox" name="pas_inscrit">Sorties auquelles je ne suis pas inscrit </label><br>#}
{#                <label> <input type="checkbox" name="sortie_termine"> Sorties passées </label><br>#}
{#                <input type="hidden" name="user" value="{{ app.user.id }}">#}
{#                <div class="btn-container">#}
{#                    <button>Rechercher</button>#}
{#                </div>#}
{#            </div>#}


            {{ form_start(filtreForm) }}



        <div class="row">
            <div class="col">
                {{ form_label(filtreForm.campus) }}
                {{ form_widget(filtreForm.campus) }}
                <br>
                {{ form_label(filtreForm.search) }}
                {{ form_widget(filtreForm.search) }}
                <br>
                <p>Entre
                {{ form_widget(filtreForm.dateDebut) }}
                et
                {{ form_widget(filtreForm.dateLimite) }}
                </p>
            </div>
            <div class="col">

                {{ form_widget(filtreForm.estOrganisateur) }}
                {{ form_label(filtreForm.estOrganisateur) }}
                <br>
                {{ form_widget(filtreForm.estInscrit) }}
                {{ form_label(filtreForm.estInscrit) }}
                <br>
                {{ form_widget(filtreForm.pasInscrit) }}
                {{ form_label(filtreForm.pasInscrit) }}
                <br>
                {{ form_widget(filtreForm.estPassees) }}
                {{ form_label(filtreForm.estPassees) }}
            </div>
            <div class="col">
                {{ form_widget(filtreForm.rechercher) }}
            </div>
            {{ form_end(filtreForm) }}
        </div>


        {% if sorties | length == 0 %}
            <h3 class="text-center mt-5">
                Aucun résultat trouvé !</h3>
        {% else %}
            {{ include('sortie/_sorties.html.twig') }}
        {% endif %}
        </div>
        </div>
        <a class="btn btn-warning position-absolute  start-50 translate-middle mt-3" href="{{ path('app_sortie_creer') }}" role="button">Nouvelle sortie</a>

    {% else %}
        <p>Veuillez vous connecter pour voir la liste des sorties !</p>
    {% endif %}
{% endblock %}
